* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-top: 80px;
  font-family: "Noto Serif SC", serif;
  font-family: "Comfortaa", cursive;
}
nav {
  position: fixed;
  top: 0;
  right: 0;
  background: #16161d;
  height: 80px;
  padding: 0 10px;
  width: 100%;
  color: #f8f8ff;
  display: flex;
  align-items: center;
  z-index: 1;
}
nav a {
  color: #f8f8ff;
  margin-left: 20px;
  text-decoration: none;
}
a {
  text-decoration: none;
}
.landing-page {
  background-attachment: fixed;
  background-image: url(images/aaa.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 780px;
}
section {
  width: 100%;
  padding: 50px 10%;
}
/* Pseudo-selector */
section:nth-of-type(even) {
  background: #f5f5f5;
}

h2 {
  text-align: center;
}
h3 {
  font-size: 53px;
  color: black;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.col-4 {
  width: calc(100% / 12 * 4);
  padding: 20px;
}

.skill-pics {
  max-width: 100%;
  border-radius: 50%;
  width: 400px;
  height: 400px;
}

.shifa {
  width: 300px;
  height: 400px;
  display: block;
  margin: 0 auto;
}
.helper {
  width: 500px;
  height: 400px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .sm-col-12 {
    width: 100%;
  }
  img {
    border-radius: 0;
  }
}
.name {
  padding: 50px;

  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0;
  border: 0;
  --polygon: polygon(0 0, calc(100% - 35px) 0, 100% 35px, 100% 100%, 0 100%);
  clip-path: var(--polygon);
}

p {
  text-align: center;
}

.downarrow {
  background: transparent url(images/arrow.png) center center no-repeat;
  background-size: 70px 50px;
  border-radius: 30px;
  width: 60px;
  height: 50px;
  position: absolute;
  bottom: 30px;
}
.line {
  border-bottom: 1px solid #e0e0e0;
}

.line2 {
  padding-top: 20px;
}

.line3 {
  border-top: 1px solid #e0e0e0;
}
.contact {
  font-size: 10px;
  background-color: black;
  color: white;
  position: fixed;
  bottom: 15px;
  right: 20px;
  text-decoration: none;
  border: 0;
  border-radius: 100px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  padding: 0 20px;
  cursor: pointer;
  outline: none;

  align-items: center;
  display: flex;
}
.email-pic {
  width: 20px;
  height: 20px;
}
.contact-me {
  color: #fff;
  line-height: 48px;
  font-weight: bold;
  margin: 0 0 0 12px;
}
/* Animation */
.line-animation {
  position: relative;
  width: 30em;
  border-right: 2px solid black;
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}
.anim-typewriter {
  animation: typewriter 4s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 30em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(8, 8, 8, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
.separator {
  margin: 0 auto;
  background: url(images/separator.png);
  height: 9px;
  width: 576px;
}
/* footer {
  margin: 0 auto;
  background: url(images/separator.png);
  height: 9px;
  width: 576px;
} */
